@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Inter";
}

/* Home page styles */
.title {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #d6fde3;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5em;
  font-weight: 500;
  color: #d6fde3;
  margin-bottom: 10px;
}

.social-icon {
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-right: 10px;
}

[data-testid="stSidebar"] {
  width: 35px !important;
  background-color: rgba(26, 26, 26, 0.75);
}

[data-testid="collapsedControl"] svg {
  fill: #ff4c4c; /* Fill color for the SVG */
  width: 50px; /* Width of the SVG - adjust as needed */
  height: 50px; /* Height of the SVG - adjust as needed */
  margin-left: 10 px;
}

[data-testid="collapsedControl"]::after {
  content: "Menu"; /* Text to be added after the SVG */
  position: absolute;
  top: 13px;
  color: #ff4c4c; /* Adjust the text color as needed */
  font-weight: bold;
}

ul {
  list-style-type: none;
}

/* Animated home profile image styles */
.container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.box {
  width: 300px;
  height: 300px;
  position: absolute;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scale(1.42);
  }
}

.spin-container {
  width: 100%;
  height: 100%;
  animation: spin 12s ease-in-out infinite alternate;
  position: relative;
}

.shape {
  width: 100%;
  height: 100%;
  transition: border-radius 1s ease-out;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 5s ease-in-out infinite both alternate;
  position: absolute;
  overflow: hidden;
  z-index: 5;
}

.bd {
  width: 110%;
  height: 110%;
  position: absolute;
  left: -5%;
  top: -5%;
  display: flex;
  color: #003;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  animation: spin 12s ease-in-out infinite alternate-reverse;
  opacity: 1;
  z-index: 2;
}

.bd img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

/* Hide Streamlit default elements */
#MainMenu {
  visibility: hidden;
}
header {
  visibility: hidden;
}
footer {
  visibility: hidden;
}
lottie-player {
  display: block;
  margin: 0 auto;
}
